
/*---------------------- Fonts -----------------------*/

@font-face {
   font-family: "Thicccboi";
   font-display: swap;
   src: url("../fonts/THICCCBOI-Medium.woff") format("woff"), url("../fonts/THICCCBOI-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Thicccboi";
   font-display: swap;
   src: url("../fonts/THICCCBOI-SemiBold.woff") format("woff"),
        url("../fonts/THICCCBOI-SemiBold.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Thicccboi";
   font-display: swap;
   src: url("../fonts/THICCCBOI-Bold.woff") format("woff"), url("../fonts/THICCCBOI-Bold.woff") format("woff2");
   font-weight: 700;
   font-style: normal;
}

